<h1>Todos</h1>
<main>
  <form (submit)="addTask()">
    <input
      [(ngModel)]="newTaskTitle"
      placeholder="What needs to be done?"
      name="newTaskTitle"
      type="text"
    />
  </form>
</main>
<div *ngFor="let task of tasks">
  <input
    type="checkbox"
    [(ngModel)]="task.completed"
    (change)="saveTask(task)"
  />
  <input
    type="text"
    [(ngModel)]="task.title"
  />
  <button (click)="saveTask(task)">Save</button>
  <button (click)="deleteTask(task)">Delete</button>
</div>
